<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template.html">

<head>
	<meta charset="utf-8">
	<title>Fiche Partenaire</title>
</head>

<body>
	<main>
		<div layout:fragment="content">
			<!--Contenu-->

			<Center>
				<h2>Fiche Partenaire</h2>
			</Center>

			<!--Informations Partenaire-->
			<div class="row" style="margin-top: 20px;">

				<!--Photo , nom, équipe, poste-->
				<div class="col-lg-4" >
					<div class="card mb-4">
						<div class="card-body text-center">

							<!--Logo Partenaire-->
							<img src="https://media.istockphoto.com/id/1223671392/fr/vectoriel/photo-de-profil-par-d%C3%A9faut-avatar-photo-placeholder-illustration-de-vecteur.jpg?s=170667a&w=0&k=20&c=EqD6q8IUqwN_bgGec0UBhh3tk2Zuur5lezDDlQsGdPY=" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
							<h5 class="my-3">Partenaire</h5>
							<p class="text-muted mb-1">Secteur d'activité</p>

						</div>
					</div>
				</div>
				<!--Fin de Photo , nom, équipe, poste-->

				<!--Données Partenaire-->
				
				
				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Nom</p>
								</div>
								<div class="col-sm-9">
									<div th:text="${fichePartenaire.nom}"></div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Numéro SIRET</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">0123456789</p>
								</div>
							</div>


							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Date de Contrat</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">25 Décembre 1984</p>
								</div>
							</div>

							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Adresse Mail</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">Exemple@gmail.com</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Siège Social</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">France</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--Fin de Données Partenaire-->
			
			</div>
			<!--Fin de Informations Partenaire-->


			<!--Contenu Accordion-->
			<br><br>
			<center>
				<h3>Tous les BIN du partenaire</h3>
			</center>
			<br>
			<table class="table table-bordered">
				<thead>
					<th colspan="10">
						<CENTER>BIN 1234567</CENTER>
					</th>
					<tr>
						<th scope="col">EMETTEUR BANQUE</th>
						<th scope="col">PLATFORM</th>
						<th scope="col">FUNDING SOURCE</th>
						<th scope="col">REGION</th>
						<th scope="col">PAYS</th>
						<th scope="col">STATUS</th>
						<th scope="col">RANGE</th>
						<th scope="col">VOLUME</th>
						<th scope="col">P/V</th>
						<th scope="col">MONNAIE</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Xpollens 16528</td>
						<td>Consumer</td>
						<td>DEBIT IMMEDIAT</td>
						<td>Europe</td>
						<td>France</td>
						<td>Available</td>
						<td>***0000 - ***0999</td>
						<td>1M</td>
						<td>Physical/Virtual</td>
						<td>CPTE.PAIEMENT</td>
					</tr>
				</tbody>
			</table>
			<!--FIN de Contenu Accordion-->



			<!--Fin de Contenu-->
		</div>
	</main>
</body>

</html>
</head>