<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template.html">

<head>
	<meta charset="utf-8">
	<title>Formulaire Partenaire</title>
</head>

<body>
	<main>
		<div layout:fragment="content">
			<!--Contenu-->

			<Center>
				<h2>Création Partenaire</h2>
			</Center>
			<br>


			<!-- ======= Hero Section ======= -->
			<form class="needs-validation" th:action="@{/creationPartenaire}" method="post">
				<section id=incription class="d-flex align-items-center">
					<div class="container center ">
						

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="nom">Nom</label> <input type="text" class="form-control" name="nom"
										id="nom" th:value="${partenaire.nom}" required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>
								<div class="form-group">
									<label for="numero_siret">Numéro Siret</label> <input type="number"
										class="form-control" name="numero_siret" id="numero_siret"
										th:value="${partenaire.numero_siret}" minlength="14" maxlength="14" required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>
								<div class="form-group">
									<label for="date_contrat">Date Contrat</label> <input type="date"
										name="date_contrat" class="form-control" id="date_contrat"
										th:value="${partenaire.date_contrat}" required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>

							</div>
							<div class="col-lg-6 ">
								<div class="form-group">
									<label>E-Mail</label>
									<input type="adresse_mail" class="form-control"
										pattern="[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([_\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})"
										id="adresse_mail" name="adresse_mail" th:value="${partenaire.adresse_mail}"
										required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>
								<div class="form-group">
									<label>Siège Social</label> <input type="text" name="siege_social"
										class="form-control" id="siege_social" th:value="${partenaire.siege_social}"
										required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>
								<div class="form-group">
									<label>Secteur d'activité</label> <input type="text" name="secteur_activite"
										class="form-control" id="secteur_activite"
										th:value="${partenaire.secteur_activite}" required>
									<div class="invalid-feedback">Valeur incorrecte ou non
										saisie</div>
								</div>
							</div>
						</div>


						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</div>
			</form>


			<!--Fin de Contenu-->
		</div>
	</main>
</body>

</html>
</head>